<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MmFlix - <%= movie[0].name %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/Home/favicon-32x32.png">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <style>
        header{
            background: url('/movie/<%= movie[0].background_img %>')no-repeat center center/cover;
        } 
        header .content {
            margin: 140px auto 80px auto;
        }
        @media(max-width: 600px){
            header .content {
                margin: 100px auto 0px auto;
            }
        }
    </style>


    <header>
        <nav>
            <h1 class="gradient-text">MmFlix</h1>
            <div class="end_bx">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/movies"  class = "active">Movies</a></li>
                    <li><a href="/shows">Shows</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
                <form action="/search" method="GET" class="search">
                    <input type="text" name="q" placeholder="Search movies & shows..." />
                    <button type="submit"><i class="fa-solid fa-magnifying-glass" id="search_icon"></i></button>
                </form>               
                <div class="hamburger">
                    <div class="hamburger-icon"></div>
                    <div class="hamburger-icon"></div>
                    <div class="hamburger-icon"></div>
                </div>
            </div>   
        </nav>


        <div class="content">
            <h6>Duration: <span id="header_dur"><%= movie[0].duration %></span></h6>
            <h3 id="header_gen"><i class="fa-solid fa-star"></i><%= movie[0].rate.toFixed(1) %><span> <%= movie[0].genre %></span></h3>
            <h1 id="header_title"><%= movie[0].title %></h1>
            <p id="header_pra"><%= movie[0].description %></p>
            <h3 id="header_gen"><span class="s2">Release Date: </span><span><%= movie[0].release_date %>, <%= movie[0].release_year %> <%= movie[0].country %></h6>
            <h3 id="header_gen"><span class="s2">Director: </span><span><%= movie[0].director %><%= movie[0].creator %></span></h6>
            <h3 id="header_gen"><span class="s2">Cast: </span><span><%= movie[0].cast %></span></h3>
            <div class="btns" id="header_btns">
                <a href="/download/<%= movie[0].name %> [MmFlix].mp4" class="d-btn"><i class="fa-solid fa-download"></i> Download</a>
                <a href="/play/<%= movie[0].name %> (<%= movie[0].release_year %>) [MmFlix].mp4" class="w-btn"><i class="fa-solid fa-play"></i> Play</a>               
            </div>
        </div>
    </header>


    <main>
        <section class="Trailer">
            <h2 class="s1">Trailer</h2>
            <div id="trailer-section">
                <iframe width="560" height="315" src="https://youtube.com/embed/<%= movie[0].trailer %>" allow="autoplay; encrypted-media" frameborder="0"></iframe>
            </div>
        </section>
    </main>
    

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h1 class="gradient-text">MmFlix</h1>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 MmFlix. All rights reserved</p>
            </div>
        </div>
    </footer>
    

<script src="/script.js"></script>
<script src="/movies.js"></script>
</body>
</html>